/.env
/.vscode/settings.json
/api/config/app_local.php
/api/logs/*
/api/tmp/*
!/api/logs/.gitkeep
!/api/tmp/.gitkeep
/api/vendor/
/api/config/Migrations/*.lock
/frontend/node_modules/
/frontend/dist/
*.local
*.pem
*.key
/.deploy/
